<?xml version="1.0"?>
<config>
    <modules>
        <Divante_Manufacturer>
            <version>1.0.0</version>
        </Divante_Manufacturer>
    </modules>
    <global>
        <models>
            <divante_manufacturer>
                <class>Divante_Manufacturer_Model</class>
                <resourceModel>divante_manufacturer_resource</resourceModel>
            </divante_manufacturer>
            <divante_manufacturer_resource>
                <class>Divante_Manufacturer_Model_Resource</class>
                <entities>
                    <manufacturer>
                        <table>divante_manufacturer</table>
                    </manufacturer>
                </entities>
            </divante_manufacturer_resource>
        </models>
        <blocks>
            <divante_manufacturer>
                <class>Divante_Manufacturer_Block</class>
            </divante_manufacturer>
        </blocks>
        <helpers>
            <divante_manufacturer>
                <class>Divante_Manufacturer_Helper</class>
            </divante_manufacturer>
        </helpers>
        <resources>
            <divante_manufacturer_setup>
                <setup>
                    <module>Divante_Manufacturer</module>
                </setup>
            </divante_manufacturer_setup>
        </resources>
    </global>
    <default>
        <web>
            <routers>
                <divante_manufacturer>
                    <area>frontend</area>
                    <class>Divante_Manufacturer_Controller_Front_Router</class>
                </divante_manufacturer>
            </routers>
        </web>
        <divante_manufacturer>
            <general>
                <index_uri>producent</index_uri>
            </general>
        </divante_manufacturer>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Divante_Manufacturer before="Mage_Adminhtml">Divante_Manufacturer_Adminhtml</Divante_Manufacturer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <divante_manufacturer>
                <use>divante_manufacturer</use>
                <args>
                    <module>Divante_Manufacturer</module>
                    <frontName>manufacturer</frontName>
                </args>
            </divante_manufacturer>
        </routers>
        <layout>
            <updates>
                <divante_manufacturer>
                    <file>divante_manufacturer.xml</file>
                </divante_manufacturer>
            </updates>
        </layout>
        <translate>
            <modules>
                <divante_manufacturer>
                    <files>
                        <default>divante_manufacturer.csv</default>
                    </files>
                </divante_manufacturer>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <divante_manufacturer>
                    <file>divante_manufacturer.xml</file>
                </divante_manufacturer>
            </updates>
        </layout>
        <translate>
            <modules>
                <divante_manufacturer>
                    <files>
                        <default>divante_manufacturer.csv</default>
                    </files>
                </divante_manufacturer>
            </modules>
        </translate>
    </adminhtml>
</config>
